<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Scraper Scrapery</title>
		<link rel="shortcut icon" type="img/png" href="assets/images/favicon.png">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="./public/js/app.js"></script>
	<body>
		{{{ body }}}
	</body>
		
</html>
